* { margin: 0; padding: 0}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

canvas {
    display: block;
}

#info{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.info {
    padding: 2em;
    margin: 1em;
    background: #e8e8e8;
}

.info *{
    margin-bottom: 0.5em;
}